body {
    background-color: lightblue;
}

button,
div,
form,
input {
    margin: 10px;
}

img {
    width: 200px;
    height: 300px;
}

h1 {
    color: red;
    color: lightblue;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}